body {
	margin: 0;
}

.container {
	margin: 0px 166px;
}

.header {
	background-image: url('../img/bg.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-line {
	padding-top: 50px;
	display: flex;
	align-items: center;
}

.header-mini {
	margin-left: 140px;
}


.nav-item {
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;

	margin-right: 25px;
}




.cart {
	position: relative;
	padding-right: 35px;
	padding-left: 15px;
	border-right: 1px solid #FFFFFF;
	height: 51px;
}

.cart-img {
	position: absolute;
	top: 18px;
}




.phone {
	margin-left: 34px;
}

.number-img-text {
	display: flex;
	padding-bottom: 1px;
}

.img-phone {
	padding-right: 8px;
}



.num {
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;

	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.phone-text {
	font-size: 14px;
	font-weight: 400px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}




.button {
	background-color: #FF7400;
	font-size: 14px;
	font-weight: 700;
	color: #fff;

	padding: 14px 19px;

	transition: color, background-color 0.2s linear;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.button:hover {
	background-color: #904506;
	color: #bababa;
}

.order-bnt {
	margin-left: 53px;
}


#burger-menu {
	display: none;
	right: 0;
}

button {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
}







.header-down {
	position: relative;

}


.header-title {
	color: #D67E35;
	font-size: 50px;
	font-weight: 400;

	font-family: 'Tinos', serif;

	margin-bottom: 12px;
	text-align: center;
	margin-top: 72px;
	left: 0;
	position: absolute;
}

.header-middle {
	color: #D67E35;
	font-weight: 400;
	font-size: 80px;

	font-family: 'Tinos', serif;
}

.headed-bottom {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 21px;

	font-family: 'Open Sans', sans-serif;
}

.headed-bottom::after {
	position: absolute;
	content: '';
	width: 61px;
	height: 2px;
	background: #fff;
	top: 163px;
	left: 67px;
}

.headed-bottom::before {
	position: absolute;
	content: '';
	width: 61px;
	height: 2px;
	background: #fff;
	top: 163px;
	left: 350px;
}

.header-button {
	font-size: 14px;
	font-weight: 700;
	background-color: #FF7400;
	color: #fff;
	text-decoration: none;

	padding: 14px 28px;

	transition: color, background-color 0.2s linear;
	font-family: 'Open Sans', sans-serif;
}

.header-button:hover {
	background-color: #904506;
	color: #bababa;
}



.cards-holder {
	display: flex;

}

.card {
	box-shadow: 10px 10px 40px 20px #0000001A;
	text-align: center;
	margin-right: 21px;
	background-color: #fff;
	margin-top: -98px;

}
.card:last-of-type {
	margin-right: 0;
}



.container-cards {
	margin-left: 30px;
	margin-right: 30px;
}



.card-image {
	margin-top: 35px;

}

.card-title {
	color: #2C2C2C;
	font-size: 26px;
	font-weight: 400;
	font-family: 'Tinos', serif;
	margin-bottom: 20px;
}



.middle-card{
	padding-left: 18px;
	padding-right: 18px;
}

.card-title-text {
	color: #D67E35;
}


.card-disc {
	color: #656363;
	font-size: 26px;
	font-weight: 400;
	font-family: 'Tinos', serif;
	text-align: center;
	margin-bottom: 34px;
}





.history {
	position: relative;
	text-align: center;
}

.history-holder {
	margin-bottom: 162px;
	margin-top: 130px;
}

.history-title {
	position: absolute;
	left: 0;
	margin-top: 166px;
}


.title-text {
	color: #000000;
	font-family: 'Tinos', serif;
	font-size: 54px;
	font-weight: 400;
	margin-bottom: 21px;
}
.style-title {
	color: #D67E34;

}


.history-desc-text {
	color: #656363;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.card-statistics {
	display: flex;
	margin-top: 39px;
}


.num-beverages {
	margin-bottom: 2px;
	color: #BC9060;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


.beverages {
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.about-beverages {
	margin-left: 62px;
}




.food {
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


.num-food {
	margin-bottom: 2px;
	color: #BC9060;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


.about-food{
	margin-left: 58px;
}


.num-scnakc {
	margin-bottom: 2px;
	color: #BC9060;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


.scnakc {
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


.about-snacks {
	margin-left: 48px;
}


.img-history {
	display: flex;
	padding-top: 80px;
	margin-left: 550px;
}

.history-holder {
	display: flex;
}




.celebrate-nav {
	display: flex;
	position: relative;
}

.celebrate {
	background-image: url('../img/black-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.celebrate-title {
	margin-top: 80px;
	margin-bottom: 104px;

}

.celebrate-text {
	font-size: 52px;
	font-weight: 400;
	color: #D67E34;

	font-family: 'Tinos', serif;
}

.celebrate-text-down {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.black-order-bnt {
	right: 0;
	margin: 165px 0;
	margin-left: 31px;
	position: absolute;
	align-items: center;
}









.dishes-text {
	font-family: 'Tinos', serif;
	color: #000000;
	font-size: 54px;
	font-weight: 400px;

	text-align: center;
	margin: 135px 0;
}

.dishes-text span {
	color: #D67E34;
}




.hamburger-info {
	display: flex;
}


.pizza-left-img {
	margin-right: 22px;
}


.hamburger-right-img {
	margin-bottom: 29px;
	display: flex;
}
.hamburger-right-img:last-of-type {
	margin-bottom: 152px;
}





.text-cost {
	font-family: 'Tinos', serif;
	font-size: 26px;
	font-weight: 400;
}

.cost-hamburger {
	margin-top: 50px;
	margin-left: 15px;
}






.restauran-img {
	background-image: url('../img/Restauran-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
}

.menu-text {
	font-family: 'Tinos', serif;
	font-size: 54px;
	font-weight: 400;
	color: #fff;


	text-align: center;
	padding-top: 98px;
	padding-bottom: 138px;
}





.card-menu {
	background: #fff;
	text-align: center;
	width: 33%;
	padding-bottom: 30px;
	padding-top: 80px;
	margin-right: 30px;
	position: relative;
}

.recomend {
	position: absolute;
	top: 7px;
}

.card-menu:last-of-type {
	margin-right: 0;

}





.text-down-cheesburger {
	font-family: 'Tinos', serif;
	font-size: 26px;
	font-weight: 400;
	padding-top: 16px;
	padding-bottom: 17px;
}

.sub-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 20px;
}



.btn-cheesburger {
	background-color: #b5742f;
	box-shadow: 5px 5px 10px 0px #00000040;
	transition: color, background-color 0.2s linear;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;

	padding: 14px 69px;
}

.button-cheesburger .btn-cheesburger:hover {
	background-color: #523414;
	color: #cccccc;
}


.img-cheesburger {
	position: relative;
}

.img-2 {
	position: absolute;
	top: 126px;
	left: 184px;
}



.price-text {
	font-family: 'Cookie', cursive;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	position: absolute;
	top: 159px;
	left: 213px;
}


.title-card-menu {
	display: flex;
	justify-content: center;
}



.recomend-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 500;
	background-color: #D67E34;
	padding: 7px 11px 11px 11px;
}









.gray-bg {
	background-color: #E5E5E5;
}


.title-block {
	text-align: center;
}


.dics-block {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;

	padding-top: 104px;
}


.photo-face {
	margin-top: 78px;
}

.visiter {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;

	margin-top: 17px;
}

.name {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;

	margin-top: 9px;
}

.img-circle {
	display: flex;
	margin-top: 25px;
	padding-bottom: 107px;
	justify-content: center;
}

.circles {
	margin-right: 2px;
}

.circles:last-of-type {
	margin-right: 0;
}



.cookers{
	position: relative;
}


.red-line-right {
	position: absolute;

	width: 30px;
	height: 100px;

	background-color: #FF0000;
	right: 0;

	display: block;
}

.red-line-left {
	position: absolute;

	width: 30px;
	height: 100px;

	background-color: #FF0000;
	left: 0;

	display: block;
}





.dishes-text {
	font-family: 'Tinos', serif;
	font-size: 54px;
	font-weight: 400;
	text-align: center;
	color: #000000;
}

.dishes-span {
	color: #D67E34;
}


.dishes-img-top {
	display: flex;
}
.dishes-img-top img {
	margin-bottom: 30px;
}



.dishes-img-bottom {
	display: flex;

}


.dishes-img {
	justify-content: center;
}
.dishes-img img {
	margin-right: 30px;
}
.dishes-img img:last-of-type {
	margin-right: 0px;
}


.img-cookers {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.img-cookers img {
	margin-right: 31px;
}

.img-cookers img:last-of-type {
	margin-right: 0;
}


.last-bg {
    height: 80vh;
    background-color: #D67E35;
		background-size: cover;
}







.footer-text {
	justify-content: space-between;
	display: flex;
	padding-top: 30px;
}




.column {
	display: block;
}

.title-text-column {
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	font-family: 'Tinos', serif;
	margin-bottom: 20px;

	transition: 0.2s linear;
}

.title-text-column:hover {
	color: #262626;
}



.down-text-column:first-of-type {
	padding-top: 20px;
}
.down-text-column:last-of-type {
	padding-bottom: 0;
}


.down-text-column {
	font-weight: 700;
	font-size: 18px;
	color: #cfcfcf;
	font-family: 'Tinos', serif;
	padding-bottom: 10px;
	padding-top: 20px;
	transition: 0.2s linear;

	display: block;
}

.down-text-column:hover {
	color: #6e6e6e;
}

a {
	text-decoration: none;
}

.text-by-me {
	font-size: 11px;
	color: #cfcfcf;

	text-align: center;
  letter-spacing: 0;
	font-family: 'Tinos', serif;
}





.icons {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.icons img {
	width: 40px;
	height: 40px;
}


.icons-img {
	margin-right: 20px;
}

.icons-img:last-of-type {
	margin-right: 0px;
}
